<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.simple.pojo.User">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="question" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="answer" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="role" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, email, phone, question, answer, role, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from simple_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM simple_user
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.simple.pojo.User">
        INSERT INTO simple_user (id, username, password,
                                 email, phone, question,
                                 answer, role, create_time,
                                 update_time)
        VALUES (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR},
                #{answer,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.simple.pojo.User">
        insert into simple_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.simple.pojo.User">
        update simple_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simple.pojo.User">
        UPDATE simple_user
        SET username    = #{username,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            question    = #{question,jdbcType=VARCHAR},
            answer      = #{answer,jdbcType=VARCHAR},
            role        = #{role,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="registerNewUser">

        INSERT INTO simple_user (username, password, email, phone, question, answer, role, create_time, update_time)
        VALUES
            (#{username}, #{password}, #{email}, #{phone}, #{question}, #{answer}, 0, now(), now())
    </insert>

    <select id="checkUsername" resultType="java.lang.Integer" parameterType="string">
        SELECT count(1)
        FROM simple_user
        WHERE username = #{username}
    </select>

    <select id="checkEmail" resultType="java.lang.Integer" parameterType="string">
        SELECT count(1)
        FROM simple_user
        WHERE email = #{email}
    </select>

    <select id="userLogin" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from simple_user WHERE
        username=#{username}
        and
        password=#{password}
    </select>

    <update id="updateUserPhone" parameterType="map">
        UPDATE simple_user
        SET phone = #{phone}
        WHERE username = #{username}
    </update>

    <update id="updateUserEmail" parameterType="map">
        UPDATE simple_user
        SET email = #{email}
        WHERE username = #{username}
    </update>

    <select id="checkPassword" parameterType="string" resultType="java.lang.Integer">
        SELECT count(1)
        FROM simple_user
        WHERE password = #{oldPassword}
    </select>

    <update id="updateUserPassword" parameterType="map">
        UPDATE simple_user
        SET password = #{newPassword}
        WHERE
            password = #{oldPassword} AND username = #{username}
    </update>

    <select id="checkQuestionAndAnswer" resultType="java.lang.Integer" parameterType="map">
        SELECT count(1)
        FROM simple_user
        WHERE username = #{username} AND question = #{question} AND
              answer = #{answer}
    </select>

    <update id="resetPassword" parameterType="map">
        UPDATE simple_user
        SET password = #{newPassword}
        WHERE username = #{username}
    </update>

    <select id="getUserInformation" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from simple_user WHERE username = #{username}
    </select>

    <update id="updateQuestionAndAnswer" parameterType="map">
        UPDATE simple_user
        SET question = #{question}, answer = #{answer}
        WHERE username = #{username}
    </update>

    <select id="getQuestionInformation" resultType="string" parameterType="string">
        select question
        from simple_user where username = #{username}
    </select>
</mapper>